.efect-hover-uline{
    position: relative;
}
.efect-hover-uline:hover::after{
    top: 0;
    height: 0;
    z-index: 10;
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: yellow;
}