<div class="container-md my-2">
    <div class="border rounded p-2">
        <h1>Opciones de Busqueda</h1>
        <div>
            <form action="">
                <div class="row">
                    <div class="form-group col-xl-3 my-2">
                        <label>N° Placa</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group col-xl-3 my-2">
                        <label>N° Ticket</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="d-flex justify-content-end align-items-center  col-xl-6 my-2">
                        <div>
                            <button class="btn btn-warning">Buscar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="border rounded p-2 my-3">
        <h2 class="display-3">Resultado</h2>
        <div class="row fs-2">
            <div>
                    <div class="row">
                        <p class="fw-bold col-xl-6">PLACA : <span class="fw-normal">ABC-DER</span></p>
                        <p class="fw-bold col-xl-6">CLASE AUTO : <span class="fw-normal">Auto</span></p>
                    </div>
                    <div class="row">
                        <p class="fw-bold col-xl-6">HORA ENTRADA : <span class="fw-normal">17:20</span></p>
                        <p class="fw-bold col-xl-6">HORA SALIDA : <span class="fw-normal">17:20</span></p>
                    </div>
                    <div class="row">
                        <p class="fw-bold col-xl-6">FECHA ENTRADA : <span class="fw-normal">07/02/2025</span></p>
                        <p class="fw-bold col-xl-6">FECHA SALIDA : <span class="fw-normal">07/02/2025</span></p>
                    </div>
                    <div class="row">
                        <p class="fw-bold col-xl-6">T. TRANSCURRIDO : <span class="fw-normal">4 dias y 3:20 horas</span></p>
                        <p class="fw-bold col-xl-6">MONTO : <span class="fw-normal">S/. 20</span></p>
                    </div>    
            </div>
            <div>
                <div class="row col-xl-4">
                    <button class="btn btn-primary w-100">Ir a Pagar</button>
                </div>
            </div>
        </div>
    </div>
</div>