<div class="container my-2">
    <div class="my-2">
        <h1>Editar Configuración</h1>
    </div>
    <div class="col-12">
        <div class="col-12">
            <form action="" (ngSubmit)="changeConfiguracion()" [formGroup]="formConfiguracion">
                <div class="form-group my-2">
                    <label>Nombre del Negocio
                        <input type="text" class="form-control" formControlName="nombre"> 
                    </label>
                </div>
                <div class="form-group my-2">
                    <label>Propietario del Negocio
                        <input type="text" class="form-control" formControlName="nombrePropietario"> 
                    </label>
                </div>
                <div class="form-group my-2">
                    <label>Direccion
                        <input type="text" class="form-control" formControlName="ubicacion"> 
                    </label>
                </div>
                <div class="form-group my-2">
                    <label>N° Telefono
                        <input type="text" class="form-control" formControlName="numeroTelefono"> 
                    </label>
                </div>
                <div class="form-group my-2">
                    <label>Tolerancia en minutos para el cobro
                        <input type="text" class="form-control" formControlName="toleranciaMinutosCobro"> 
                    </label>
                </div>
                <div class="form-group my-2">
                    <label>Impuesto en %
                        <input type="text" class="form-control" formControlName="porcentajeDeImpuesto"> 
                    </label>
                </div>
                <div class="my-2">
                    <button class="btn btn-success">Editar Datos</button>
                </div>
            </form>
        </div>
    </div>
</div>